/* #subtypebutton {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    background: none;
    border: 0.5px solid black;
} */

/* #subtypebutton img {
    width: 80%;
} */

.subtype-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 16px;
}

.subtype-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: 3px solid #ece3ce;
    cursor: pointer;
    border-radius: 25px;
}

.subtype-box img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}