.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #4F6F52;
  position: relative;
}

.menu-toggle {
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 100%; /* Position it just below the "Menu" button */
  left: 0;
  background-color: white;
  width: 100%;
  transition: 0.3s;
}

.menu-toggle:hover + .menu,
.menu:hover {
  display: block; 
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  text-align: left;
}

.actions {
  display: flex;
}

.account,
.contact {
  margin-right: 10px;
  background-color: #007bff;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.menu-toggle {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.brand{
  font-size: 30px;
}

img{
  width: 30px;
}