@import url('https://fonts.googleapis.com/css?family=Lato');
*{
  font-family: 'Lato';  
  letter-spacing: 1.5px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex: 1; /* Take remaining available width */
  padding: 20px;
  padding-left: 10%;
  text-align: left;
  color: #4F6F52;
  font-size: 25px;
}

.collection{
  font-size: 25px;
  color: #4F6F52;
  padding-left: 10%;
  text-align: left;
}

.image {
  flex: 1; /* Take remaining available width */
  text-align: center; /* You can adjust the alignment as needed */
  padding: 20px;
  
}

.img{
  width: 50%;
}

.buttons button {
  margin-right: 10px;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  box-shadow: none;
}

.b1{
  border: 3px solid;
  background-color: #ECE3CE;
  border-color: #ECE3CF;
  margin-bottom: 12px;
  box-shadow: none;
}

.b2{
  border: 3px solid;
  border-color: #ECE3CE;
  background-color: white;
  margin-bottom: 75px;
}

.cards-container {
  display: flex; /* Display cards horizontally */
  justify-content: space-between; /* Space them evenly */
  color: black;
  padding-right: 10%;
  padding-bottom: 5%;
}

.b3{
  width: 20%;
  font-size: 20px;
  border-radius: 14px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-color: black;
  border: 3px solid;
  font-weight: 500;
  background-color: white;
  margin-right: 150px;
}

.location{
  font-size: 25px;
  color: #4F6F52;
  text-align: center;
  padding-bottom: 5%;
}

.content{
  padding-top: 5%;
}

.address{
  color:black;
  text-align: left;
  padding-left: 25%;
}

.contacts{
  padding-right: 25%;
}