.card {
  flex: 1;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  height: 400px;
  text-align: center;
  border-radius: 5%;
}

.card-header {
  font-weight: bold;
}

.card-content {
  text-align: center;
  margin-top: 10px;
}
